<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <strong>
          <%= room.name %>
          (
          <%= t '.capacity' %>:
          <%= room.capacity %>
          )
        </strong>
      </h3>
    </div>
    <div class="panel-body">
      <% Shift.day_of_weeks.keys[0..4].each do |wd| %>
          <span class="btn btn-primary btn-disabled btn-lg"> <%= t wd, scope: "week" %> </span>
          <ul class="nav nav-tabs">
            <%= render partial: 'shift', collection: room.shifts.send(wd) %>
          </ul>
      <% end %>
    </div>
  </div>
</div>
