<div class="col-xs-12">
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">
        <h1>
        <strong>
          <%= room.name %>
          (
          <%= t '.capacity' %>:
          <%= room.capacity %>
          )
        </strong>
        </h1>
      </div>
    </div>
    <div class="container-fluid">
      <nav class="row">
        <% Shift.day_of_weeks.keys[0..4].each do |wd| %>
            <% unless room.shifts.send(wd).empty? %>
                <div class="alert alert-success"> <h3><strong><%= t wd, scope: "week" %></strong></h3></div>
                <br>
                <ul class="nav nav-tabs">
                  <%= render partial: 'shift', collection: room.shifts.send(wd) %>
                </ul>
            <% end %>
        <% end %>
      </nav>
    </div>
  </div>
</div>
