<div class="container-fluid">
  <h2>
    <%= t '.new_offspring' %>
  </h2>
  <div class="form">
    <div class="form-group">
      <div class="control-label text_tag">
        <%= Offspring.human_attribute_name 'first_name' %>
      </div>
      <div class="form-control" disabled="disabled">
        <%= @offspring.first_name %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label">
        <%= Offspring.human_attribute_name 'last_name' %>
      </div>
      <div class="form-control" disabled="disabled">
        <%= @offspring.last_name %>
      </div>
    </div>
      <div class="form-group">
        <div class="control-label">
          <%= Offspring.human_attribute_name :grade %>
        </div>
        <div class="form-control" disabled="disabled">
          <%= t "grades.#{@offspring.grade}" %>
        </div>
      </div>
    </form>
  </div>
</div>

Add buttons here
Back
Edit
Delete
