<div class="col-xs-12">
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">
        <h3>
          <strong>
            <%= room.name %>
            (
            <%= t '.capacity' %>:
            <%= room.capacity %>
            )
          </strong>
        </h3>
      </div>
    </div>
    <div class="container-fluid">
      <nav class="row">
        <% Shift.day_of_weeks.keys[0..4].each do |wd| %>
            <% unless room.shifts.send(wd).empty? %>
                <div class="alert alert-success"> <h4><strong><%= t wd, scope: "week" %></strong></h4></div>
                <br>
                <ul class="nav nav-tabs">
                  <%= render partial: 'shift', collection: room.shifts.send(wd) %>
                </ul>
            <% end %>
        <% end %>
      </nav>
    </div>
  </div>
</div>