<!DOCTYPE html>
<html lang="es">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <title><%= t 'application.name' %></title>
  </head>

  <body>
    <%= render '/layouts/masthead' %>
    <%= render '/layouts/alerts' %>
    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
